{% extends "::base.html.twig" %}

{% block title %}AppBundle:ProjectController:modifyProject{% endblock %}

{% block body %}
<h1>Welcome to the ProjectController:modifyProject page</h1>
{% endblock %}
